*{
    margin: 0;
    padding: 0;
}
body{
   width: 100%;
}
.main_title{
    padding-left:180px;
    background:#f8f6f6;
    height: 145px;
}
.title{
    color: #746868;
    font-size: 40px;
    padding-left: 60px;
    margin-top: -50px;
}
.picture1{
    padding-top: 55px;
}
/*.share{
    display: flex;
    flex-direction: column; 
    margin-right: 185px;
    margin-top: -35px;
    margin-left: 950px;
}
.line1, .line2, .line3{
    background:#aa9d9d;
    width: 6%;
    height: 2px;
    margin-bottom: 8px;
}*/
.block1{
    background: #353535;
    height: 710px;
    width: 100%;
}
.slogon{
    font-size:55px; 
    padding-top:320px;
    color: white;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px; 
    text-align: center; 
}
.motto{
    text-align: center;
    font-size: 28px;
    color:white;
}
.picture2{
    margin-left: 943px;
    margin-top: 170px;
}
.subtitle{
    font-size: 12px;
    color: white;
    margin-top: 10px;
    text-align: center;
    font-family: 'Trebuchet MS';
}
.subtitle1{
    margin-top: 140px;
    font-size: 48px;
    text-align: center;
    color: #3d3d3d;
}
.line4{
    width: 170px;
    height: 3px;
    background: #f3724d;
    margin-left: 873px;
    margin-bottom: 30px;
}
.desc{
    font-size: 14px;
    font-family: 'Times New Roman', serif;
    text-align: center;
    color: #bcb0b0;
    margin-bottom: 60px;  
}
.About{ 
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    justify-content: center; 
}
.item1{
    width: 20%;
    background: #f8f6f6;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
}
.name1{
    color: #7a6e6e;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text{
    color: #919191;
    padding-bottom: 20px;
}
.block3{
    margin-bottom: 100px;
}
.block4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.play{
    background: #171f23;
    width: 50%;
    padding-left: 100px;
    font-size: 14px;
    text-align: center;
}
.title4{
    padding-top: 160px;
    font-size: 30px;
    color: #e5d9d9;
    text-align: center;
    margin-right: 153px;
}
.text7{
   margin-top: 30px;
    color: #4e5051;
    font-size: 13px;
    text-align: center;
    margin-right: 115px;
}
.class1{
    border: 2px solid #e64e40;
    width: 145px;
    height: 45px;
    background: #e64e40;
    color: #fff;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 280px;
}  
.title6{
    color: #394b50;
    font-size: 18px;
    margin-left: 620px;
}
.pic_women{
    background: #171f23;
    width: 100%;
}
.menu1{
    margin-top: 90px;
    text-align: center;
}
.menu1 >li{
    display:inline-block;
 }  
.menu1 > li >a{
     font-size: 13.68px;
     text-decoration:none;
     padding-inline-start: 35px;
     color: #7e7e7e;
     display: block; 
}
.red_cub{
    background: #e84c3d;
    height: 526px;
    margin-top: 25px;   
}
.line_6{
height: 3px;
background: #e5d9d9;
padding-top: -100px;
} 
.block5{
height: 250px;
background: #1c1c1c;
} 
.font_pic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding-top: 100px; 
}
.block6{
    background: #ebebeb;
    width: 25%;
    margin-right: 25px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.circule{
    width: 30%;
    height: 135px;
    border-radius: 75px;
    background: #f26c4f;
    margin: auto;
}
.title5{
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
    color: #3d3d3d;
}
.profession{
    text-align: center;
    color: #3d3d3d;
}
.font_pic1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 25%;
    margin: auto;
    padding-top: 35px;
}
.Account1{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-bottom: 100px;
}
.block7{
    background: #ebebeb;
    width: 40%;
    padding-bottom: 50px;
}
.title6{
    color: #3d3d3d;
    font-size: 24px;
    padding-top: 120px;
    padding-bottom: 20px;
    margin-left: 60px;
    font-weight: bold;
}
.text8{
    margin-left: 60px;
    color:#858383;
}
.result1_1{
    width: 300px;
    height: 1px;
    background-color: #e84c3d;
    margin-bottom: 25px;
    z-index: 2;
    position: relative;
}
.result2_1{
    width: 324px;
    height: 1px;
    background-color: #e84c3d;
    margin-bottom: 25px;
    z-index: 2;
    position: relative;
}
.result3_1{
    width: 321px;
    height: 1px;
    background-color: #e84c3d;
    margin-bottom: 25px;
    z-index: 2;
    position: relative;
}
.result4_1{
    width: 354px;
    height: 1px;
    background-color: #e84c3d;
    margin-bottom: 25px;
    z-index: 2;
    position: relative;
}
.result1_2{
background: rgb(199, 197, 197);
width: 375px;
height: 1px;
z-index: 1;
margin-top: -26px;
}
.skills{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-left: 60px
}
.result1{
    margin-top: 5px; 
}
.program1{
        width: 122px;
        margin-right: 80px;
}
.test22{
    background: #171f23;
    width: 50%;
}
.number1{
    margin-left: 15px;
    margin-top: -5px;
}
.block8{
    background: #171f23;
    height: 385px;
}
.next{
    color: white;
    font-size: 36px;
    padding-top: 55px;
    text-align: center;
}
.plans{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
    margin-left: 270px;
    margin-right: 270px;
}
.item2{
    width: 20%;
    background: #171f23;
    text-align: center;
    border: none;
}
.line5{
    background: #404040;
    width: 100px;
    height: 2px;
    margin-left: 900px;
    margin-top: 5px;
}
.font_icon1{
    height: 55px;
    margin: 25 auto;
}
.name2{
    color:#d8d9da;
    font-size:18px;
    margin-bottom: 20px;
}
.total{
    color:#d8d9da;
    font-size:40px;
}
.Account2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block9{
    margin-bottom: 100px;
}
.blog1{
    margin-right: 25px;
    background: #ebebeb;
    padding-bottom: 40px;
}
.name3{
    color: #5e5e5e;
    font-size:18px;
    margin-top: 30px;
    font-weight: bold;
    padding-left: 25px;
}
.text9{
    color: #797979;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 25px;
}
.block10{
    background: #171f23;
    height: 705px;
}
.item3{  
    flex-direction: row;
    display: flex;
    margin-top: 90px;
    justify-content: center;
}
.test33{
    height: 125px;
    background: #0e1316;
}
.price1:hover{
    border: 1px solid #f6744b;
    transform: scale(1.2);
}
.price1{
    width: 15%;
    background: #1f282c;
    text-align: center;
    border: none;
    margin-right: 10px;
    padding-bottom: 40px; 
}
.title7{
    color: white;
    font-size: 25px;
    padding-top: 40px;
    font-size: 14px;
}
.price2{
    color: white;
    font-size: 36px;
}
.period{
    font-size: 14px;
    color:#e1e2e3;
    padding-top: 35px;
}
.account33, .time, .service1{
    font-size: 14px;
    color:#e1e2e3;
    padding-top: 15px;
}
.start{
    width: 35%;
    height: 40px;
    color: #fff;
    background: #f6744b;
    margin-top: 75px;
    border-radius: 7%;
}
.item4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.subname_1{
margin-bottom: 35px;
margin-left: -315px;
}
.contact1{
   text-align: center;
   color: #737373;
   font-size: 14px;
   font-weight: bold;
   margin-right: 20px;
}
.contact1_1{
    margin-top: 30px;
    text-align: center;
}
.subname_2{
    margin-left: -680px;
    margin-bottom: 45px;
    color: #737373;
   font-size: 14px;
   font-weight: bold;
}
.sending{
    background: #f6744b;
    margin-top: 65px;
    width: 8%;
    height: 45px;
    color: white;
    margin-bottom: 85px;  
}
.location{
    background: #0c1215;
    height: 85px;
    color: #9ea0a1;
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 55px;
}
.block12{
    text-align: center;
    background: #171f23;
    height: 230px;
}
.font_pic1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 4%;
    margin: auto;
    color: #ffffff;
    margin-top:-20px; 
}
.picture3 {
    margin: auto;
    margin-top: 40px;
}
.title2{
    color: #ffffff;
    font-size: 24px;    
}
.footer_1{
    color: #ffffff;
    font-size:14px;
}

